<?xml version="1.0"?>
<launch>

    <rosparam file="$(find galileo_description)/launch/galileo_controller.yaml" command="load"/>
    
    <node args="left_rear_wheel_joint_position_controller right_rear_wheel_joint_position_controller left_front_wheel_joint_position_controller right_front_wheel_joint_position_controller joint_state_controller " name="controller_spawner" ns="galileo" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
    
    <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
      <remap from="/joint_states" to="/galileo/joint_states"/>
    </node>
    
    <!--left_front_wheel_joint_position_controller right_front_wheel_joint_position_controller-->
    
</launch>
